body .main-home .div-logo {
  background-color: #faecc9;
  grid-area: logo;
  width: 100%;
  height: 10.4rem;
  opacity: 0.96; }

* {
  margin: o;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url("../img/fondoladolce.png"); }
  body main .carousel .carousel-inner .carousel-item .fotocarru1 {
    height: 38rem; }
  body main .carousel .carousel-inner .carousel-item .fotocarru2 {
    height: 38rem; }
  body main .carousel .carousel-inner .carousel-item .fotocarru3 {
    height: 38rem; }
  body main .contactos-form {
    background-color: #faecc9;
    height: 38rem;
    opacity: 0.9; }
    body main .contactos-form .contactos-div .form-label {
      font-family: "Josefin Sans", sans-serif;
      color: #aa8040;
      font-size: 2rem; }
  body main .div-productos {
    background-color: #faecc9;
    opacity: 0.9;
    padding: 2rem;
    text-align: center; }
    body main .div-productos .h1-productos {
      color: #f39336;
      height: 5rem;
      font-family: "Josefin Sans", sans-serif;
      font-size: 3rem; }
    body main .div-productos .p-productos {
      color: #aa8040;
      font-family: "Josefin Sans", sans-serif;
      font-size: 1.8rem; }
  body header {
    height: 3.8rem;
    background-color: #ffffff;
    border-style: solid;
    border-width: 5px;
    border-color: #faecc9; }
    body header .navbar .container-fluid {
      display: flex;
      justify-content: center; }
      body header .navbar .container-fluid .navbar-toggler {
        color: #aa8040; }
      body header .navbar .container-fluid .navbar-elementos {
        display: flex;
        justify-content: center; }
        body header .navbar .container-fluid .navbar-elementos .navbar-nav {
          gap: 4rem; }
          body header .navbar .container-fluid .navbar-elementos .navbar-nav .nav-item .nav-link {
            color: #ebb582;
            font-family: "Josefin Sans", sans-serif;
            font-size: 1rem; }
          body header .navbar .container-fluid .navbar-elementos .navbar-nav .nav-item .nav-link:hover {
            color: #aa8040; }
          body header .navbar .container-fluid .navbar-elementos .navbar-nav .nav-item .dropdown-menu .dropdown-item {
            font-size: 2rem;
            font-family: "Josefin Sans", sans-serif;
            color: #aa8040; }
  body .main-home {
    height: 81.5rem;
    display: grid;
    grid-template-rows: 13% 35% auto;
    grid-template-areas: "logo logo" "carthome carthome" "titulos titulos"; }
    body .main-home .div-logo .logo {
      display: flex;
      justify-content: center;
      height: 10rem; }
    body .main-home .cartas-home {
      width: 100%;
      grid-area: carthome;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-areas: "car1 car2 car3 car4"; }
      body .main-home .cartas-home .card .card-body .card-title {
        font-family: "Josefin Sans", sans-serif;
        color: #f39336; }
      body .main-home .cartas-home .card .card-body .card-text {
        font-family: "Josefin Sans", sans-serif;
        color: #aa8040; }
      body .main-home .cartas-home .card .card-body .btn {
        border-color: #faecc9;
        background-color: #d94f50;
        color: #faecc9; }
      body .main-home .cartas-home .carta1-home {
        grid-area: car1; }
      body .main-home .cartas-home .carta2-home {
        grid-area: car2; }
      body .main-home .cartas-home .carta3-home {
        grid-area: car3; }
      body .main-home .cartas-home .carta4-home {
        grid-area: car4; }
    body .main-home .titulos-home {
      height: 30rem;
      padding: 1rem;
      margin-top: 6rem;
      grid-area: titulos;
      text-align: center;
      background-color: #faecc9;
      width: 100%;
      opacity: 0.9;
      border-style: solid;
      border-color: #aa8040;
      border-width: 3px; }
      body .main-home .titulos-home .titulos-texto {
        font-family: "Josefin Sans", sans-serif;
        font-size: 5.7rem;
        color: #aa8040;
        margin: 1.5rem; }
  body footer {
    height: 4.5rem;
    background-color: #ffffff;
    border-style: solid;
    border-width: 5px;
    border-color: #faecc9;
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 2rem; }
    body footer .link-footer {
      color: #aa8040;
      font-size: 2rem;
      font-family: "Josefin Sans", sans-serif; }
    body footer .ig-logo {
      height: 2.5rem; }

@media screen and (max-width: 840px) {
  body .main-home {
    height: 75.5rem;
    display: grid;
    grid-template-rows: 13% 65% auto;
    grid-template-areas: "logo logo" "carthome carthome" "titulos titulos"; }
    body .main-home .titulos-home {
      display: none; }
    body .main-home .cartas-home {
      margin: 1.6rem;
      grid-area: carthome;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "car1 car2" "car3 car4"; } }

@media screen and (max-width: 480px) {
  body .main-home {
    height: 89.5rem;
    display: grid;
    grid-template-rows: 13% auto;
    grid-template-areas: "logo logo" "carthome carthome"; }
    body .main-home .titulos-home {
      display: none; }
    body .main-home .cartas-home {
      margin: 1.6rem;
      grid-area: carthome;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "car1" "car2" "car3" "car4"; } }
